@import "base/colors";
@import "base/fonts";
@import "base/mixins";

/**************GENERAL**************/
* {
    text-decoration: none !important;
    list-style-type: none !important;
    font-family: $main-font, $second-font, $third-font !important;
    padding: initial;
}

/**************NAV**************/

.container-header {
    @include width (100%);
}

.nav-logo:hover {
    transform: scale(120%);
}

.pre-nav {
    @include txtcenter;
    @include backcolor ($DarkGold);
    color: $white;
    @include width (100%);
    padding: 0.75% 0%;

    h4 {
        @include width (100%);
        display: inline-block;
        position: relative;
    }
}

.top-nav {
    @include backcolor ($DarkBlue !important);
    @include width (100%);
    @include flex;
    @include font (1.149rem);
    padding: 1.5rem 0rem;

    li:hover {
        .sub-ul {
            display: block;
            background: #a64bf4;
            background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
            background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
            background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
            background: linear-gradient(45deg, #00dbde, #fc00ff);
            -webkit-transition: background-color 0.4s;
            -o-transition: background-color 0.4s;
            -moz-transition: background-color 0.4s;
            transition: background-color 0.4s;
            @include bradius (6px);
            padding: 0.6rem 0.8rem;
            margin: 0.6rem -0.4rem;
        }
    }

    .top-ul {
        @include width (100%);
        @include disp-pos (flex, null, row, space-evenly);
        align-items: center;
        padding-left: 0%;

        li {
            @include disp-pos (null, relative);
        }

        .btn-nav {
            @include border (solid, 12px, $Cian);
            @include paddi (0.2rem, 0.8rem);

            a {
                color: $white;
            }

            &:hover {
                background: #a64bf4;
                background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
                background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
                background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
                background: linear-gradient(45deg, #00dbde, #fc00ff);
                -webkit-transition: background-color 0.4s;
                -o-transition: background-color 0.4s;
                -moz-transition: background-color 0.4s;
                transition: background-color 0.4s;
            }
        }

        .sub-ul {
            @include disp-pos(none, absolute);
            top: 30px;

            a:hover {
                @include backcolor ($black);
                color: $white;
                @include bradius (4px);
                font-weight: bold;
                transition: background-color 0.4s;
                padding: 0.1rem 0.3rem;
            }
        }
    }
}

.chk-ul-left-nav {
    @include txtcenter;

    a {
        @include disp-pos (flex, null, row);
        @include paddi (12%, 10%);
        color: $white;
    }

    img {
        @include paddi (4%, 8%);
    }
}

.chk-left-nav {
    margin: 2rem 10rem;
}

.chk-ul-right-nav {
    @include disp-pos (flex, null, column-reverse, flex-end);
    color: $white;
    padding-left: 55rem;
    margin: 2rem 0rem;
}

.myCart {
    @include disp-pos (flex, null, row-reverse);
    @include paddi (0%, 2%);
}


/**********HOME***************************************/
.home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/champ22.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 20rem 0rem;

    h1 {
        @include txtcenter;
        font-size: 5rem;
    }

    p {
        font-size: 1.6rem;
        margin: 4rem 0rem;
    }

    a {
        @include border(solid, 8px);

        padding: 1rem 1rem;
        @include txtcenter;
        width: 40%;

        background-color: darkorange;
        color: white;

        &:hover {
            background: #a64bf4;
            background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
            background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
            background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
            background: linear-gradient(45deg, #00dbde, #fc00ff);
            -webkit-transition: background-color 0.4s;
            -o-transition: background-color 0.4s;
            -moz-transition: background-color 0.4s;
            transition: background-color 0.4s;
        }
    }

}

/**************BRANDS**************/
.brands {
    @include paddi (3%, 0%);

    h1 {
        @include font (null, center, null, underline);
        color: #080B0D;
    }
}

.img-carr {
    @include width(70%);
}

/**************DISCOUNTS**************/
.discounts {
    @include font (null, center, bolder);
    color: white;
    @include backcolor ($black);
    @include paddi (4%, 0%);
}

h2 {
    text-decoration: underline;
}

.discount__text {
    align-self: center;
    text-transform: uppercase;
}

.media-video {
    @include width(100%);
}

/******DRINKS****/
.drinks {
    background-color: black;
    color: white;
}

/**************PAYMENT METHODS**************/
/***HELP***/

.sec-help {
    list-style-type: none;
    @include txtcenter;

    h2 {
        text-decoration: underline;
    }
}

/**************ABOUT US**************/
#abt-us {
    @include backcolor (CurrentColor);

    h2 {
        @include font (2rem, center);
        @include paddi (1%, 0%);
        color: #0ff;
    }

    h3,
    h4 {
        @include font (1.3rem, center);
        color: $white;
    }
}

.abt-us-head{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/warehouse.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 8rem 0rem;
}

#abt-map {
    @include paddi (1%, 0%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/world1.jpg);
    background-size: cover;
    background-attachment: fixed;

    .g_map {
        @include border (double, 40px);
        @include paddi (1%, 1%);
        @include width (90%);
        margin-left: 5%;
    }
}

.abt-new{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/interview.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 14rem 1rem;
}

/**************PRODUCTS**************/

.ul__container-div {
    @include border (double, 15px, $Cian);
    margin: 4% 3%;
    display: inline-block;
    @include backcolor ($DarkCian);

}

.ul-vka,
.ul-cer {
    @include txtcenter;
}

.cant,
.addToCart {
    @include border (solid, 10px, $Cian);
    @include backcolor ($GreyBlue);
    @include txtcenter;
    color: $white;
    @include paddi (1%, 0%);
}

.cant {
    margin: 0% 2%;
    @include width (20%);

    &:hover {
        color: white;
        background-color: transparent;
        font-weight: 200;
        transition: background-color 0.1s;
        border-color: white;
    }
}

ol,
ul {
    padding-left: 0rem;
}

.card-products {
    @include border(solid, 12px, #0caebf);
    width: 18rem;
    margin: 3rem 2rem;
    color: white;
    display: inline-block;
    background-color: #04393999;
}

.addToCart {
    margin: 5% 20%;
    @include width (65%);

    &:hover {
        color: white;
        background-color: transparent;
        font-weight: 200;
        transition: background-color 0.1s;
        border-color: white;
    }
}

/*DRINKS SECTION*/

.wines {
    @include txtcenter;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/winee1.jpg);
    background-size: cover;
    background-attachment: fixed;

    h2 {
        background-color: deeppink;

        .h2-img {
            width: 5rem;
        }
    }
}

.vodka {
    @include txtcenter;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/ciro.jpg);
    background-size: cover;
    background-attachment: fixed;

    h2 {
        background-color: #fffffff2;
        color: black;

        .h2-img {
            width: 5rem;
        }
    }
}

.beer {
    @include txtcenter;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/ber33.jpg);
    background-size: cover;
    background-attachment: fixed;

    h2 {
        background-color: #F0B01AED;

        .h2-img {
            width: 5rem;
        }
    }
}

.champagne {
    @include txtcenter;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/champ22.jpg);
    background-size: cover;
    background-attachment: fixed;

    h2 {
        background-color: #F2C288;

        .h2-img {
            width: 5rem;
        }
    }
}

.drinks img:hover {
    transform: scale(105%);
}

.vodka-container img {
    @include width (100%);
}

.vodka-cotainer,
h2 {
    @include txtcenter;
    padding: 2rem 0rem;
}

/*PUBLICITY SECTION*/
.prd-publicity {
    @include txtcenter;
    @include font (larger, null, null, underline);
    @include width (100%);
    background-color: #140091;
}

.prd-commercial {
    @include width (100%);
}

/**************CONTACT FORM**************/
.col-75-contact {

    .col-75-container-contact {
        background-color: #f2f2f2;
        padding: 2rem 0rem 0rem 3rem;
        border-style: solid;
        border-radius: 10px;
        border-color: lightgray;
        border-width: 5px;
        width: 80%;
        margin: 1rem 12rem;

        input[type="text"],
        [type="email"] {
            margin-bottom: 30px;
            padding: 1.2rem 1rem;
            border-style: solid;
            border-radius: 8px;
            border-color: #ccc;
            border-width: 2px;
            -webkit-appearance: none;
            width: 90%;
        }

        .btn-form-contact {
            background-color: white;
            border-style: solid;
            border-radius: 3px;
            border-color: black;
            border-width: 2px;
            padding: 0.5rem 1rem;
            margin: 2rem 13rem;
        }
    }

}

.text-area-contact {
    margin: 0rem 0rem;
    width: 90%;
}

.buttons-forms-contact {
    @include paddi (2%, 0%);
}

.btn-form-contact {
    @include backcolor ($white);
    @include border (solid, 3px, $black, 2px);
    @include paddi (4px, 10px);
}

.email-form-contact {
    @include paddi (2%, 0%);
    text-align: center;

    a {
        @include border (double, 3px, none, 5px);
        @include paddi (2px, 25px);
    }

    h3 {
        @include paddi (1%, 0%);
    }
}

/************HELP ****/

.sec-help-head{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/envio.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.sec-help-head-pay{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.335)), url(../../img/pay2.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.sec-help-g-map {
    @include border (solid, 40px);
    @include paddi (1%, 0%);
    @include width (30%);
    margin: 1% 1%;
}

.credit-card {
    h2 {
        @include font (2rem, center);
        @include paddi (1%, 0%);

    }

    h3 {
        @include font (1.3rem, center);
    }

    h4 {
        @include font (1.3rem, center);
        @include paddi (1%, 0%);
    }

    .credit-card-logo-img {
        @include width (10%);
        @include paddi (2%, 2%);
    }
}

.crypto-coins {
    .crypto-coins-logo-img {
        @include width (10%);
        @include paddi (2%, 2%);
    }
}

.debit-card {
    .debit-card-logo-img {
        @include width (10%);
    }
}

.efecti {
    h4 {
        @include paddi (1%, 0%);
    }

    .efecti-logo-img {
        @include width (10%);
    }
}

.virtual-wallet-head {
    @include paddi (1%, 0%);
}

.virtual-wallet-logo {
    .virtual-wallet-logo-img {
        @include width (10%);
    }
}

/********************************************GRID**********************************************/
.gridgaleria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "foto1 foto2 foto2 foto2""foto3 foto3 foto3 foto4""foto5 foto6 foto6 foto6";
}

.itema {
    grid-area: foto1;
    background-image: url(../multimedia/foto1.jpg);
    background-size: cover;

    &:hover {
        opacity: 60%;
    }
}

.itemb {
    grid-area: foto2;
    background-image: url(../multimedia/foto2.jpg);
    background-size: cover;

    &:hover {
        opacity: 60%;
    }
}

.itemc {
    grid-area: foto3;
    background-image: url(../multimedia/foto3.jpg);
    background-size: cover;

    &:hover {
        opacity: 60%;
    }
}

.itemd {
    grid-area: foto4;
    background-image: url(../multimedia/foto4.jpg);
    background-size: cover;

    &:hover {
        opacity: 60%;
    }
}

.iteme {
    grid-area: foto5;
    background-image: url(../multimedia/foto5.jpg);
    background-size: cover;

    &:hover {
        opacity: 60%;
    }
}

.itemf {
    grid-area: foto6;
    background-image: url(../multimedia/foto6.jpg);
    background-size: cover;

    &:hover {
        opacity: 60%;
    }
}

.fotosgrid {
    @include width (100%);
    display: block;
}

.section_cervezas_card {
    background-color: rgba(165, 42, 42, 0.281);
}

.section_cervezas_card-img {
    padding-bottom: 10%;

    &:hover {
        transform: scale(110%);
    }
}

.layer {
    background-color: rgba(0, 0, 0, 0.227);
    position: absolute;
    @include width (100%);
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
}

.boot-icon {
    @include font (35px);
    color: white;
}

/****************************CHECKOUT*******************/

.row {
    display: -ms-flexbox;
    @include disp-pos (flex, null, null, null, null, wrap);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    --bs-gutter-x: 0;

    .col-50 {
        display: grid;
    }
}

.row-chk {
    margin: 6rem 10rem;
}

.row-nwrp {
    flex-wrap: nowrap;
}

.col-25 {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    flex: 20%;
    margin: 3rem 8rem;

    .container {
        @include border (solid, 10px, burlywood, 5px);
        padding: 2rem 2rem;
    }
}

.col-75 {
    -ms-flex: 47%;
    /* IE10 */
    flex: 47%;
    @include paddi(0%, 4%);

    .col-75-container {
        background-color: #f2f2f2;
        padding: 2rem 10rem 3rem 2rem;
        @include border (solid, 15px, lightgray, 5px);
        width: 95%;

        .col-75-container-form {
            margin-bottom: 3rem;
        }
    }
}

input[type=text],
[type=password],
[type=email] {
    margin-bottom: 30px;
    padding: 1.2rem 1rem;
    @include border (solid, 8px, #ccc, 2px);
    -webkit-appearance: none;
    width: 101%;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    @include paddi (7px, 0px);
    @include font (24px);
}

.btn {
    @include backcolor ($Green);
    color: $white;
    @include paddi (12px, 0px);
    margin: 10px 0;
    border: none;
    @include width (100%);
    @include bradius (10px);
    cursor: pointer;
    @include font (17px);
    transition: background-color 0.6s;

    &:hover {
        @include backcolor ($LightBlue);
    }
}

.btn-fin-pay {
    background-color: #08DB33;
    color: white;
    padding: 15px 30%;
    border: none;
    border-radius: 10px;
    @include font (18px);
    transition: background-color 0.6s;
    margin: 0rem 15rem;
    padding: 1rem 20rem 1rem 20rem;

    &:hover {
        @include backcolor ($LightBlue);
    }
}

span.price {
    float: right;
    color: grey;
}

.select-yearr {
    @include width (100%);
    @include paddi (8%, 0%);
    background: white;
    @include border (solid, none, 3px);
}

.chk-payments {
    text-align: right;

    ul {
        @include flex;
    }

    h3 {
        margin: 5px 120px;
    }

    li:active {
        @include border (solid, null, $DarkGold, 2px);
    }
}

.checkbox-form-contact {
    @include paddi (2%, 0%);
}

.select-provincia {
    width: 100%;
    padding: 1.2rem 0rem;
    background: white;
    @include border (solid, 8px);
}

.select-ciudad {
    width: 100%;
    padding: 1.2rem 0rem;
    background: white;
    @include border (solid, 8px);
}

.select-mes {
    @include width (5%);
    @include paddi (1%, 0%);
    background: $white;
    @include border (solid, 3px);
}

/********************* SIGN IN *******************/

.background-login {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.335)), url(../../img/space.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.form-signin {
    @include width (100%);
    max-width: 30%;
    @include paddi (10%, 0%);
    margin: auto;

    .checkbox {
        font-weight: 400;
    }

    .form-floating:focus-within {
        z-index: 2;
    }

    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.ft-white {
    color: white
}

/*------------------------------------------------------------------
[ Button sign in with ]*/

.sign-in-with {
    margin: 1rem;
    color: white;
}

.btn-face,
.btn-google {
    font-size: 18px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: calc((100% - 20px) / 2);
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.btn-google::before,
.btn-face::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-face {
    color: #fff;
    background-color: #3b5998;
    margin: 1.5rem 0rem;

    img {
        width: 3.2rem;
    }
}


.btn-google {
    color: #555555;
    background-color: #fff;
    margin: -5.86rem 0rem 0rem 19rem;
}

.btn-google img {
    width: 30px;
    margin-right: 15px;
    padding-bottom: 3px;
}

.btn-face:hover:before,
.btn-google:hover:before {
    opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
    color: #fff;
}


/****************************FOOTER****************************/
.footer {
    @include backcolor ($DarkBlue);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    @include width (100%);
    text-align: left;
    font: normal 16px sans-serif;
    @include paddi (2%, 0%);

    .footer-datos {
        p {
            color: $GreyFooterText;
            @include font(14px);
            margin: 0;
            @include txtcenter;
        }
    }

    .footer-redes {
        margin-top: 6px;
        @include width (100%);
        @include txtcenter;

        a {
            @include disp-pos (inline-block);
            margin-left: 16px;
            margin-bottom: 10px;

            &:hover {
                background-color: $Cian;
                @include paddi (5px, 8px);
                @include bradius (20%);
            }
        }
    }

    .footer-links {
        a:before {
            @include disp-pos (inline-block);
            content: "·";
            @include font (20px);
            left: 0;
            color: #fff;
            padding-right: 5px;
        }
    }

    p.footer-links {
        @include font (14px, null, bold);
        color: #FFFFFF;
        margin: 10px 0 10px 0;
        @include paddi (0px, 0px);
        transition: ease .25s;

        a {
            @include disp-pos (inline-block);
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            transition: ease .25s;

            &:hover {
                color: $VioletNeon;
            }
        }
    }
}

.enlaces_footer {
    color: $Cian;

    &:hover {
        color: $VioletNeon;
    }
}

.footer-payments-credit-card {
    @include disp-pos (inline-block);
    margin-left: 10px;

    &:hover {
        transform: scale(115%);
    }
}

.footer-payments {
    text-align: right;

    ul {
        @include disp-pos (flex, null, null, center);
    }
}

/************************* BOOTSTRAP ************************/

.boot-logo {
    @include font (17px);
}

/***** CAROUSEL *****/

.carousel-item {
    margin-right: -78% !important;
}

.carousel-inner {
    margin: 0% 0% !important;
}

/**************************404********************************/

.page_404 {
    @include txtcenter;
    @include paddi (1%, 30%);

    .container {
        @include bradius (15px);
    }

    h1 {
        @include font (8rem);
    }

    .row {
        @include paddi (5%, 0%);
    }
}

.box_404 {
    @include font (1.3rem, center);
    @include paddi (2%, 0%);

    .box_404__heading {
        @include font (2.6rem);
    }

    .box_404__link {
        @include border (solid, 15px, none, 3px);
        @include paddi (8px, 40px);

        &:hover {
            @include backcolor ($LightBlue);
            color: $white;
            transition: background-color 0.2s;
            border-width: 3px;
        }
    }

}

/************************PAYMENT*****************************/
.box_pay {
    @include font (1.3rem, center);
}

.page_pay {
    @include txtcenter;
    padding: 4rem 23rem;

    h1 {
        margin: 2rem 0rem;
    }
}

.form_pay {
    @include disp-pos (flex, 0, column);
    margin: 2rem 25rem;

    .container {
        @include paddi (3%, 0%);
    }
}

.finish_pay {
    @include border (solid, 15px, null, 1px);
    @include paddi (1%, 15%);
    background-color: #06bd00;
    color: white;

    &:hover {
        color: #fff;
        background-color: #0d19cc;
    }
}

/*-----------------------------------
        Seccion Orden-Pago
-----------------------------------*/

.breadcrumb>.active a {
    color: #468595;
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb li a {
    color: #b3d4dc;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.6rem;
}

.breadcrumb>li+li:before {
    content: "\00BB";
}

.breadcrumb {
    margin-bottom: 100px;
    background-color: #ffffff;
    padding: 2rem 0rem;
    justify-content: center;
    margin: 0rem 0rem;
}

.breadcrumbBox {
    background-color: #ffffff;
    height: 100px;
    margin-bottom: 100px;
    padding-top: 32px;
}

/********************************************MEDIA QUERIES**********************************************/

@media (min-width: 1024px) and (max-width: 1920px) {
    /* .btn-coll-mobile{
      visibility: hidden;
    }

    .collapseExample {
        visibility: visible;
    }
    
    .top-ul{
      visibility: visible;
    }
    */
}

/*** #Device = Tablets, Ipads (portrait) - #Screen = B/w 768px to 1024px ***/
@media (min-width: 768px) and (max-width: 1024px) {

    .pre-nav h4 {
        font-size: 1.5rem;
        margin: 0.8rem 0rem;
    }

    .chk-left-nav {
        margin: 2rem 4rem;
    }

    .chk-ul-right-nav {
        padding-left: 22rem;
    }


    .foot .social {
        margin: 0px;
        @include txtcenter;
    }

    .payments {
        ul {
            @include flex;
            justify-content: center;
            padding-left: 0%;
        }

        h3 {
            margin: 0px 0px;
            @include txtcenter;
        }
    }

    #abt-us {

        h3,
        h4 {
            font-size: 1.2rem;
        }
    }

    .abt-us-head{
        
    }

    #abt-map .g_map {
        width: 46rem;
        margin-left: 1rem;
    }

    .sec-help-g-map {
        width: 45rem;
    }

    .credit-card {
        img {
            width: 6rem;
            padding: 1rem 1rem;
        }
    }

    .crypto-coins {
        img {
            width: 6rem;
            padding: 1rem 1rem;
        }
    }

    .debit-card {
        img {
            width: 8rem;
        }
    }

    .efecti {
        img {
            width: 8rem;
        }
    }

    .virtual-wallet-logo {
        img {
            width: 8rem;
        }
    }

    .boot-icon {
        font-size: 2.4rem;
    }

    ol,
    ul {
        padding-left: 0rem;
    }

    /****************CONTACT**************/

    .form-contact {
        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        .email-form-contact {
            margin: 3rem 0rem;

            a {
                @include border (double, 6px, null, 4px);
                padding: 0.8rem 5rem;
            }
        }

        .form-contact-input {
            width: 40%;
            margin: 0.8rem 4rem;
        }
    }

    /*****************FOOTER****************************/

    .footer-payments-credit-card {
        margin-left: 1rem;
        width: 2rem;
    }

    .footer p.footer-links {
        font-size: 0.85rem;
    }

    /********************LOGIN*********************/
    .btn {
        padding: 0.7rem;
        margin: 0.5rem 0rem;
        font-size: 1.2rem;
    }

    /*********************PAY*******************/

    .page_pay {
        text-align: center;
        padding: 1rem 10rem;

        h1 {
            font-size: 1.8rem;
        }
    }

    input[type="text"],
    [type="password"],
    [type="email"] {
        margin-bottom: 0.8rem;
        padding: 1rem 1rem;
    }

    .finish_pay {
        padding: 0.5rem 4rem;
    }

    .form_pay {
        margin: 2rem 3rem;
    }

    /**************************CHECKOUT*****************/
    .col-25 {
        margin: 2rem 2rem;
    }

    .col-75-container {
        padding: 2rem 2rem 3rem 2rem !important;
        width: 100% !important;
    }

    .btn-fin-pay {
        margin: 0rem 3.7rem;
        padding: 1rem 2rem 1rem 2rem;
    }
}

/*** #Device = Low Resolution Tablets, Mobiles (Landscape) - #Screen = B/w 481px to 767px ***/
@media (min-width: 481px) and (max-width: 767px) {

    .top-ul {
        @include disp-pos (flex, null, column, space-evenly);
        align-items: center;
    }

    .payments {

        h3 {
            @include txtcenter;
            margin: 0px 0px;
        }

        ul {
            @include flex;
            margin-left: none;
            padding-left: 0%;
            justify-content: center;
        }
    }

}

/*** #Device = Most of the Smartphones Mobiles (Portrait) - #Screen = B/w 320px to 479px ***/
@media (min-width: 320px) and (max-width: 479px) {

    /*****INDEX******/

    .home {
        h1 {
            text-align: center;
            font-size: 3rem;
        }

        p {
            font-size: 1.1rem;
            margin: 1rem 0rem;
            text-align: center;
        }

        a {
            width: 90%;
        }
    }

    .abs-gif {
        margin: 0rem -8rem;
        width: 20rem;
    }

    .cer-gif-hei {
        width: 20rem;
        margin: 1rem -5rem;
    }

    .cer-gif {
        width: 12rem;
        margin: 0rem 0rem;
    }

    .btn-coll-mobile {
        @include backcolor ($Green);
        color: $white;
        border: none;
        padding: 0.4rem 0.5rem;
        margin: 0.2rem 1rem;
        @include bradius (8px);
        cursor: pointer;
        @include font (17px);
        transition: background-color 0.6s;
    }

    .img-logo-home {
        width: 1.5rem;
        margin: 0rem 9rem;
    }

    .card {
        background-color: #9595951c;
    }

    .sub-ul ul {
        display: none;

    }

    .top-nav .top-ul .btn-nav {
        padding: 0.6rem 2rem;
        margin: 0.6rem 0rem;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 0rem;
        margin-left: -19rem;
        @include bradius (14px);
    }

    .top-nav .top-ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0%;
        margin: 2rem 0rem;
    }

    .chk-ul-right-nav img {
        width: 2.6rem;
    }

    .pre-nav {
        width: auto;
        position: relative;
        @include paddi (auto, auto);

        h4 {
            @include width (100%);
            display: inline-block;
            position: relative;
            font-size: 1.03rem;
            margin: 0.8rem 0rem;
        }
    }

    .top-ul {
        @include width (100%);
        @include disp-pos (flex, null, column);
        align-items: center;
    }

    .brands ul {
        align-items: center;
        @include disp-pos (flex, null, column);
    }

    .payments {
        @include txtcenter;

        ul {
            @include disp-pos (flex, null, null, center);
        }
    }

    .media-video {
        width: 23rem;
    }

    #abt-us {

        h3,
        h4 {
            font-size: 1rem;
        }
    }

    #abt-map .g_map {
        width: 80%;
    }

    .ul__container-div {
        width: 60%;
        margin: 1.2rem 5rem;
    }

    .ol,
    ul {
        padding-left: 0rem;
    }

    .card-products {
        width: 18rem;
        margin: 2rem 2rem;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 0rem;
        margin-left: 0rem;
        border-radius: 14px;
    }

    /*******************CONTACT**********************************/
    .col-75-contact {
        .col-75-container-contact {
            padding: 2rem 0rem 0rem 1rem;
            width: 90%;
            margin: 0rem 1rem;

            input[type="text"],
            [type="email"] {
                width: 91%;
            }

            .btn-form-contact {
                margin: 0.5rem 4rem;
            }

            .text-area-contact {
                margin: 0rem 0.2rem;
                width: 90%;
            }
        }

        .email-form-contact {
            padding: 1rem 2rem;

            a {
                @include border(double, 3px, none, 5px);
                padding: 2px 25px;
                margin: 0rem 5rem;
            }
        }
    }

    /*******************************LOGIN*****************************/
    .form-floating {
        position: relative;
        width: 14rem;
        margin: 0rem -3.4rem;
    }

    .btn {
        padding: 0.7rem 0rem;
        font-size: 1.063rem;
    }

    .btn-face {
        margin: 0rem -2rem;
        width: unset;
    }

    .btn-google {
        margin: 2rem -2rem 2rem -2rem;
        width: unset;
    }

    /**************************************HELP**************************/

    .sec-help-g-map {
        width: 20rem;
    }

    .credit-card h3,
    .virtual-wallet-head h3 {
        font-size: 1rem;
    }

    .debit-card .debit-card-logo-img {
        width: 6.8rem;
    }

    .credit-card .credit-card-logo-img {
        width: 4.5rem;
        padding: 0.3rem 0.3rem;
    }

    .crypto-coins .crypto-coins-logo-img {
        width: 3.8rem;
        padding: 0.6rem 0.2rem;
    }

    .efecti .efecti-logo-img {
        width: 7.6rem;
    }

    .virtual-wallet-logo .virtual-wallet-logo-img {
        width: 7.2rem;
    }

    /*******************************PAY **********************************/
    .card-wrapper {
        max-width: 13rem;
        width: 100%;
        margin: 0rem 4.5rem !important;
        overflow-x: hidden;
        overflow: hidden;
    }

    .form_pay {
        margin: 2rem 4rem;
    }

    .page_pay {
        padding: 0rem 0rem;
    }

    /**************************CHECKOUT*****************************/

    .row-chk {
        margin: 3rem 0rem;
    }

    .chk-ul-right-nav {
        margin: 2.7rem 2rem;
        padding-left: 0px;
    }

    .chk-left-nav {
        margin: 3rem 3rem;
    }

    .col-75-container {
        padding: 2rem 2rem 3rem 2rem !important;
        width: 100%;

        .col-75-container-form {
            margin-bottom: 3rem;
        }
    }

    .btn-fin-pay {
        margin: 0rem 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    .col-25 {
        margin: 2rem 0rem;
    }

    /*********************************FOOTER *****************/
    .footer .footer-redes {
        margin-top: 1rem;
    }

    .boot-icon {
        font-size: 2.3rem;
    }

    .footer-payments {
        text-align: center;
        margin: 1.5rem 1rem;

        .footer-payments-credit-card {
            display: inline-block;
            margin-left: 0.65rem;
            margin-bottom: 1rem;
        }

        .footer-payments img {
            width: 1.7rem;
        }
    }

    .footer p.footer-links {
        font-size: 0.85rem;
    }

    p {
        font-size: 1rem;
    }

}