/*NAV, FOOTER = #1F2A41 (Grey Blue)
PRE-NAV = #B38C0D (Dark Gold)
BUTTONS BORDER COLOR = #0caebf (Cian)
FOOTER TEXT = #8F9296
NAV ITEM HOVER = #eb036bd8 (VIOLET NEON)
BTN Hover Form = #005ace (Light BLue)
BTN FORM = #08DB33 (Green)
.UL-CONTAINER-DIV = #D9B79A 
TOP-NAV LI:HOVER .SUB-UL = #191D3D (DarkBlue)
BODY = #ebebeb (LGIHT GREY)
CURRENTCOLOR ??? = #212529 (DARK GREY)
BLACK FOR PRODUCTS BACKGROUND = #04393999 (DARK Cian)
BLUE FOR BORDER BUTTONS ADD TO CART, CANT = #061C91 (DarkLightBlue)
*/
$GreyBlue: #1F2A41;
$DarkGold: #B38C0D;
$Cian: #0caebf;
$GreyFooterText: #8F9296;
$VioletNeon: #eb036bd8;
$LightBlue: #005ace;
$Green: #08DB33;
$Container:#f2f2f2;
$LightLightYellow:#D9B79A;
$DarkBlue:#191D3D;
$red: red;
$white:white;
$black:black;
$body: #ebebeb;
$DarkGrey: #212529;
$DarkCian: #04393999;
$DarkLightBlue: #061C91;
$beerGold: #F0B01AED;
$vodkaWhite: #fffffff2;
$champBack: #F2C288;
$prdBack: #140091;
$fbBtn:#3b5998;
$dpink: deeppink;
$layer: rgba(0, 0, 0, 0.227);
$cerCard: rgba(165, 42, 42, 0.281);
$burly: burlywood;
$c3: #ccc;
$grey: grey;
$f3: #fff;
$f6: #ffffff;
$breadA: #468595;
$breadLi: #b3d4dc;
$oranDk: darkorange;
$back1: rgba(0, 0, 0, 0.431);
$back1Pay: rgba(0, 0, 0, 0.71);
$back2: rgba(0, 0, 0, 0.335);
$backGoFb: #a64bf4;