@mixin paddi ($per1, $per2) {
    padding: $per1 $per2;
}

@mixin width ($px) {
    width: $px;
}

@mixin flex {
    display: flex;
}

@mixin font ($size, $align: null, $weight: null, $deco: null, $transform: null) {
    font-size: $size;
    text-align: $align;
    font-weight: $weight;
    text-decoration: $deco;
    text-transform: $transform;

}

@mixin disp-pos($var1: null, $var2: null, $var3: null, $var4: null, $var5: null, $var6: null) {
    display: $var1;
    position: $var2;
    flex-direction: $var3;
    justify-content: $var4;
    flex-flow: $var5;
    flex-wrap: $var6;
}

@mixin bradius ($px) {
    border-radius: $px;
}

@mixin brstyle ($var) {
    border-style: $var;
}

@mixin border ($var1, $var2: null, $var3: null, $var4: null) {
    border-style: $var1;
    border-radius: $var2;
    border-color: $var3;
    border-width: $var4;

}

@mixin backcolor ($var) {
    background-color: $var;
}

@mixin txtcenter {
    text-align: center;
}

@mixin backGradient {
    background: $backGoFb;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

@mixin boxShadow {
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

@mixin backImg ($var1, $var2, $path){
    background: linear-gradient(0deg, $var1, $var2), $path;
    background-size: cover;
    background-attachment: fixed;
}